body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0
}
.header1{
    background-color: rgba(214, 214, 214, 0.849);
}
.contenedor{
    max-width: 1400px;
    margin: auto;

}
header .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #d6c3c3;
    color: #22092C;
}

h1 {
    color: #7D233A
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 10px;
    width: 200px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid #22092C
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.1);
    border-color: #22092C
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #e1d5d5;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(166, 161, 161, 0.8);
}

.description {
    text-align: center;
    color: #a581b3; 
    font-size: 20px;
    margin-top: 10px;
}
  
.btn:hover{
	color: black;
	background-color: white;
}

header .logo{
    margin: 0;
}
header a{
    padding: 1px 10px;
    text-decoration: none;
    font-weight:bold;
    color:  rgba(216, 209, 209, 0.637);
}
header a:hover{
    color: rgb(148, 16, 27);
}

.imglogo{
    width: 188px;
}

.contenedor2{
margin: 0%;
padding: 0%;
box-sizing: border-box;    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.centered-text{
    text-align: center;
    color: brown;
    font-family: Arial,sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-box{
    background-color: white;
    width: 500px;
    max-width: 650px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);
    
}

.search-box input{
    flex: 1;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
}

.search-box button img{
    width: 35px;
}

.search-box button{
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;

}

.Usua{
    color:rgb(185,61,72) ;
    font-size: 35px;
}


.foote{
    background-color: rgba(196, 189, 189, 0.637);
    padding: 10px;
    padding: 10px;
    margin-top: 60px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foot a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 19px;
}

.img-logo{
    width: 45px;
}

.foote{
    background-color: rgba(196, 189, 189, 0.637);
    padding: 20px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dis{
    font-size: 19px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes a{
    font-size: 35px;
    transition: 0.5s;
}

.Yout{
color: rgb(255, 255, 255);
}

.Tik{
color: rgb(255, 255, 255);
}

.Whats{
    color: rgb(255, 255, 255);
}

.Ins{
color: rgb(255, 255, 255);
}

.redes a:hover{
    transform: scale(1.4);
}

.sugerencias{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
}

